<div class="block block-bordered pitch-card">
  <%= hidden_field_tag 'pitch-card-id', @pitch_card._id %>

  <div class="form-horizontal form-bordered">

	<% if @pitch_card.image.present? %>

		<div class="form-group">
		  <div class="col-md-12">

			<div class="wrapper">
			  <div class="photo-preview" style="background-image:url(<%= @pitch_card.image.url %>);">
			  </div>
			</div>

		  </div>
		</div>

	<% end %>

	<% @pitch_card.pitch_points.reject{|p| not p.selected}.each  do |pitch_point_model|

	  point = PitchPointsHelper.pitch_points_hash.select { |point|
		pitch_point_model.name == point[:name]
	  }

	  point = point.any? ? point.first : nil

	  # the pitch point must be specified in our pitch_point_hash
	  if point == nil
		# TODO better error
		raise Error
	  end

	%>

		<%= render partial: 'pitch_cards/partials/card/pitch_point', locals: { point: point, pitch_point_model: pitch_point_model } %>

	<% end %>

	<% initiator = @pitch_card.initiator %>
	<% can_see_initiator = can? :see_initiator, @pitch_card %>
	<% initiator_name = can_see_initiator ? initiator.first_name + " " + initiator.last_name : "Anonymous" %>
	<div class="form-group">
	  <div class="col-md-12">

		<div class="text-center">
		  Initiated by <%= initiator_name %> <abbr class="timeago" title="<%= @pitch_card.created_at.to_time.iso8601 %>"></abbr>
		</div>

	  </div>
	</div>

  </div>

</div>