<% image_point = point[:name].downcase.tr(' ', '_')%>
<% image_pending = 'points/pending/'+image_point+'.png'%>
<% image_rejected = 'points/rejected/'+image_point+'.png'%>
<% image_accepted = 'points/accepted/'+image_point+'.png'%>
<% can_see_author = can? :see_author, comment %>
<% author = can_see_author ? comment.author_name : "Anonymous" %>
<% pending = comment.pending? %>
<% rejected = comment.rejected? %>

<!-- Discourse -->
<%= render partial: 'pitch_cards/partials/discourses/actions/discourse_actions', locals: { point: point, discourse: comment, ic_scopes: ic_scopes, pending: pending } %>

<div class="row-same-height">
  <div class="col-xs-2 col-xs-height col-middle">
	<div class="text-center">
	  <% if pending %>
		  <%= image_tag_with_at2x image_pending, :class =>  "pitch-point-image-restrained" %>
	  <% else %>
		  <% if rejected %>
			  <%= image_tag_with_at2x image_rejected, :class =>  "pitch-point-image-restrained" %>
		  <% else %>
			  <%= image_tag_with_at2x image_accepted, :class =>  "pitch-point-image-restrained" %>
		  <% end %>
	  <% end %>
	</div>
  </div>
  <div class="col-xs-10 col-xs-height col-middle">
	<div class="inside">
	  <span class="text-muted pull-right"  style="margin-top: -4.5px">
		<small>
		  <abbr class="timeago" title="<%= comment.created_at.to_time.iso8601 %>"></abbr>
		</small>
		<span data-toggle="tooltip" title="From Web"><i class="fa fa-globe"></i></span>
	  </span>
	  <strong><%= author + " commented"%></strong>
	</div>
  </div>
</div>
<li class="media media-comment">
  <div class="media-body">
	<hr/>
	<p><%= comment.comment %></p>
  </div>
</li>

<!-- END Discourse -->