<% css_point = point[:name].downcase.tr(' ', '-')%>
<% image_point = point[:name].downcase.tr(' ', '_')%>
<% image_selected = 'points/selected/'+image_point+'.png'%>
<% can_see_author = can? :see_author, comment %>
<% author = can_see_author ? comment.author_name : "Anonymous" %>

<div class="col-md-10 col-md-offset-1">
  <div id="<%= css_point %>-comment-content" class="block block-bordered pitch-card-discourse row">
	<!-- Discourse -->

	<div class="row-same-height">
	  <div class="col-xs-2 col-xs-height col-middle">
		<div class="text-center">
		  <%= image_tag_with_at2x image_selected, :class =>  "pitch-point-image-restrained" %>
		</div>
	  </div>
	  <div class="col-xs-10 col-xs-height col-middle">
		<span class="text-muted pull-right">
			<small><abbr class="timeago" title="<%= comment.created_at.to_time.iso8601 %>"></abbr></small>
			<span class="text-danger" data-toggle="tooltip" title="From Web">
			  <i class="fa fa-globe"></i>
			</span>
		</span>
		<strong><%= author + " commented"%></strong>
	  </div>
	</div>
	<li class="media media-comment">
	  <div class="media-body">
		<hr/>
		<p><%= comment.comment %></p>
	  </div>
	</li>

	<!-- END Discourse -->
  </div>
</div>