<% can_see_author = can? :see_author, comment %>
<% author = can_see_author ? comment.author_name : "Anonymous" %>
<% image = 'points/selected/comment.png'%>
<% can_manage = can? :manage, @pitch_card %>
<% show_scope = (comment.initiator_content_scope.blank? and can_manage) %>

<% if show_scope %>
	<div class="push-bit">
	  <%= render partial: 'pitch_cards/partials/discourses/actions/discourse_action_scope', locals: { inside_short: "", discourse_type: "comment", discourse: comment } %>
	</div>
<% end %>

<div class="media">
  <div class="pull-left">
	<%= image_tag_with_at2x image, :class =>  "pitch-point-image-restrained" %>
  </div>
  <% can_manage = can? :manage, comment %>
  <% if can_manage %>
	  <div class="pull-right">
		<%= link_to pitch_card_comment_path(@pitch_card, comment), method: :delete, data: { confirm: 'This will destroy the comment for good. Are you sure?' } do %>
			<i class="fa fa-times delete-pitch"></i>
		<% end %>
	  </div>
  <% end %>
  <div class="media-body">
	<strong><%= author %></strong>
	<span class="text-muted"><small><em class="timeago" title="<%= comment.created_at.to_time.iso8601 %>"></em></small></span>
	<%= simple_format(comment.comment, class: "trim-bottom") %>
  </div>
</div>