<% content_for :custom_head do %>
	<!-- page specific head attributes -->
	<%= stylesheet_link_tag 'frontend', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :custom_body do %>
	<!-- page specific body attributes -->
	<%= javascript_include_tag 'frontend/frontend_application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'frontend/pages/home', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'frontend/pages/nz', 'data-turbolinks-track' => true %>
<% end %>

<section id='banner'>
  <div class="col-md-12">
	<h1 id="pitchhub-banner-logo" class="text-center push">pitchhub</h1>
	<div class='wrap'>
	  <div class='copy-wrap'>
		<h2 id="pitchhub-banner-copy">
       <span id="hero-text" class="tagline">Let's collaborate to
                                    <span id="hero-word-switcher" class="in">
                                        <span class="active" data-oid="0"> challenge </span>
                                        <span data-oid="1"> solve </span>
                                        <span data-oid="2"> enable </span>
                                    </span>
                                </span>
		</h2>
	  </div>
	</div>
  </div>


  <!--<a class="scroll" data-role="scroll-trigger" href="#search"><i class='fa fa-chevron-down'></i></a>-->

</section>

<section class="site-content site-section site-slide-content" style="background-color: #F8F9FB; padding-bottom: 50px;">
  <div class="container">
	<div class="row">
	  <div class="row-same-height">
		<div class="col-md-6 site-block visibility-none col-md-height col-middle" data-toggle="animation-appear" data-animation-class="animation-fadeInRight" data-element-offset="-180">
		  <div style="padding-left: 20px; padding-right: 20px;">
			<div class="visible-sm visible-xs push-bit"></div>
			<p class="promo-content" style="margin-top: -50px">Join the NZ innovation network, pitch your own ideas, work on others' and have some fun, because life's a pitch!</p>
			<br>
			<p class="promo-content"> <%= link_to "Sign up!", new_user_registration_path %></p>
		  </div>
		</div>
		<div class="col-md-6 site-block visibility-none col-md-height" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-180">
		  <%= hidden_field_tag "nz-svg-url", asset_path('nz.svg') %>
		  <div id="nz-container" class="text-center" style="width: 100%; height: 540px;">
		  </div>
		</div>
	  </div>
	</div>
  </div>
</section>


<!--<section id="search" class="site-content bg-alt site-section">-->
<!--<div class="container">-->

<!--<div class="row">-->
<!--<div class="col-sm-4 col-md-4 site-block">-->
<!--<h3 class="h2 site-heading"><strong>Help solve an idea...</strong></h3>-->
<!--<hr>-->
<!--</div>-->

<!--<div class="col-sm-4 col-md-4 site-block">-->
<!--<h3 class="h2 site-heading"><strong>Add an idea of yours...</strong></h3>-->
<!--<hr>-->
<!--</div>-->

<!--<div class="col-sm-4 col-md-4 site-block">-->
<!--<h3 class="h2 site-heading"><strong>Enable innovation...</strong></h3>-->
<!--<hr>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</section>-->

<!--<section class="site-content site-section">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-sm-12 col-md-12 site-block">-->
<!--<h3 class="h2 site-heading"><strong>Trending</strong></h3>-->
<!--<hr>-->


<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

