<% css_point = point[:name].downcase.tr(' ', '-')%>
<% image_point = point[:name].downcase.tr(' ', '_')%>
<% image_selected = 'points/selected/'+image_point+'.png'%>
<% can_see_author = can? :see_author, suggestion %>
<% author = can_see_author ? suggestion.author_name : "Anonymous" %>
<% pending = suggestion.pending? %>

<!-- Discourse -->
<div class="push-bit">
  <div class="row-same-height">
	<div class="col-xs-2 col-xs-height col-middle">
	  <div class="text-center">
		<%= suggestion_status_label(suggestion) %>
	  </div>
	</div>
	<div class="col-xs-10 col-xs-height">

	  <% if pending and can? :manage, @pitch_card %>

		  <div class="pull-right">

			<div class="btn-group btn-group-sm">
			  <%= f.submit "accept", class: "btn btn-alt btn-success" do %>
				  <i class="fa fa-check"></i> accept
			  <% end %>
			  <%= f.submit "reject", class: "btn btn-alt btn-danger" do %>
				  <i class="fa fa-times"></i> reject
			  <% end %>
			</div>

		  </div>

	  <% end %>

	</div>
  </div>
</div>
<div class="row-same-height">
  <div class="col-xs-2 col-xs-height col-middle">
	<div class="text-center">
	  <%= image_tag_with_at2x image_selected, :class =>  "pitch-point-image-restrained" %>
	</div>
  </div>
  <div class="col-xs-10 col-xs-height">
	<%= text_area_tag css_point+"-textarea-input", suggestion.content, class: "form-horizontal form-control-borderless form-pitch-point", placeholder: point[:placeholder], disabled: :true %>
  </div>
</div>
<li class="media">
  <div class="media-body">
	<p class="push-bit">
		<span class="text-muted pull-right" style="margin-top: 4.5px;">
			<small><abbr class="timeago" title="<%= suggestion.created_at.to_time.iso8601 %>"></abbr></small>
		  	<% if can? :manage, @pitch_card %>
				<%= render partial: "pitch_cards/partials/discourses/initiator_scope/initiator_scope", locals: {discourse: suggestion, ic_scopes: ic_scopes, } %>
			<% end %>
		</span>
	  <strong><%= author + " suggested"%></strong>
	</p>
	<hr/>
	<p><%= suggestion.comment %></p>
  </div>
</li>
<!-- END Discourse -->