<% css_point = point[:name].downcase.tr(' ', '-')%>
<% image_point = point[:name].downcase.tr(' ', '_')%>
<% image_pending = 'points/pending/'+image_point+'.png'%>
<% image_rejected = 'points/rejected/'+image_point+'.png'%>
<% image_accepted = 'points/accepted/'+image_point+'.png'%>
<% can_see_author = can? :see_author, suggestion %>
<% author = can_see_author ? suggestion.author_name : "Anonymous" %>
<% pending = suggestion.pending? %>
<% rejected = suggestion.rejected? %>

<!-- Discourse -->
<div class="push-bit">
  <div class="row-same-height">

	<div class="col-xs-10 col-xs-height">

	  <% if pending and can? :manage, @pitch_card %>

		  <div class="pull-right">

			<div class="btn-group btn-group-sm">
			  <%= f.submit "accept", class: "btn btn-alt btn-success" do %>
				  <i class="fa fa-check"></i> accept
			  <% end %>
			  <%= f.submit "reject", class: "btn btn-alt btn-danger" do %>
				  <i class="fa fa-times"></i> reject
			  <% end %>
			</div>

		  </div>

	  <% end %>

	</div>
  </div>
</div>
<div class="row-same-height">
  <div class="col-xs-2 col-xs-height col-middle">
	<div class="text-center">
	  <% if pending %>
		  <%= image_tag_with_at2x image_pending, :class =>  "pitch-point-image-restrained" %>
	  <% else %>
		  <% if rejected %>
			  <%= image_tag_with_at2x image_rejected, :class =>  "pitch-point-image-restrained" %>
		  <% else %>
			  <%= image_tag_with_at2x image_accepted, :class =>  "pitch-point-image-restrained" %>
		  <% end %>
	  <% end %>
	</div>

  </div>
  <div class="col-xs-10 col-xs-height">
	<%= text_area_tag css_point+"-textarea-input", suggestion.content, class: "form-horizontal form-control-borderless form-pitch-point", placeholder: point[:placeholder], disabled: :true %>
  </div>
</div>
<div class="row-same-height">
  <div class="col-xs-12 col-xs-height col-middle">
	<div class="inside">
	  <p>
		<span class="text-muted pull-right" style="margin-top: -4.5px;">
	  	<small><abbr class="timeago" title="<%= suggestion.created_at.to_time.iso8601 %>"></abbr></small>

		<% if can? :manage, @pitch_card %>
		  <%= render partial: "pitch_cards/partials/discourses/initiator_scope/initiator_scope", locals: {discourse: suggestion, ic_scopes: ic_scopes, } %>
	  	<% end %>

		</span>
		<strong><%= author + " suggested" %></strong>
	  </p>
	</div>
  </div>
</div>
<hr style="margin-top: 10px;"/>
<p><%= suggestion.comment %></p>
<!-- END Discourse -->
