<% css_point = point[:name].downcase.tr(' ', '-')%>
<% image_point = point[:name].downcase.tr(' ', '_')%>
<% image_pending = 'points/pending/'+image_point+'.png'%>
<% image_rejected = 'points/rejected/'+image_point+'.png'%>
<% image_accepted = 'points/accepted/'+image_point+'.png'%>
<% can_see_author = can? :see_author, discourse %>
<% author = can_see_author ? discourse.author_name : "Anonymous" %>
<% pending = discourse.pending? %>
<% rejected = discourse.rejected? %>
<% is_suggestion = discourse.class.name == "Suggestion" %>
<% discourse_type = is_suggestion ? "suggestion" : "comment" %>

<!-- Discourse -->
<%= render partial: 'pitch_cards/partials/discourses/actions/discourse_actions', locals: { point: point, discourse: discourse, ic_scopes: ic_scopes, pending: pending } %>

<div class="row-same-height">
  <div class="col-xs-2 col-xs-height no-left-padding col-middle">
	<div class="text-center">
	  <% if pending %>
		  <%= image_tag_with_at2x image_pending, :class =>  "pitch-point-image-restrained" %>
	  <% else %>
		  <% if rejected %>
			  <%= image_tag_with_at2x image_rejected, :class =>  "pitch-point-image-restrained" %>
		  <% else %>
			  <%= image_tag_with_at2x image_accepted, :class =>  "pitch-point-image-restrained" %>
		  <% end %>
	  <% end %>
	</div>
  </div>
  <% if is_suggestion %>
	  <% can_manage = can? :manage, discourse %>
	  <% if can_manage %>
		  <div class="col-xs-9 no-side-padding col-xs-height">
			<%= text_area_tag css_point+"-textarea-input", discourse.content, class: "form-horizontal form-control-borderless form-pitch-point", placeholder: point[:placeholder], disabled: :true %>
		  </div>
		  <div class="col-xs-1 no-right-padding col-xs-height col-top">
			<%= link_to pitch_card_suggestion_path(@pitch_card, discourse), method: :delete, data: { confirm: 'This will destroy the ' + discourse_type + ' for good. Are you sure?' } do %>
				<i class="fa fa-times delete-pitch"></i>
			<% end %>
		  </div>
	  <% else %>
		  <div class="col-xs-10 col-xs-height">
			<%= text_area_tag css_point+"-textarea-input", discourse.content, class: "form-horizontal form-control-borderless form-pitch-point", placeholder: point[:placeholder], disabled: :true %>
		  </div>
	  <% end %>
  <% else %>
	  <% can_manage = can? :manage, discourse %>
	  <% if can_manage %>
		  <div class="col-xs-9 col-xs-height col-middle">
			<div class="inside">
			  <span class="text-muted pull-right"  style="margin-top: -4.5px">
				<small>
				  <abbr class="timeago" title="<%= discourse.created_at.to_time.iso8601 %>"></abbr>
				</small>
				<span data-toggle="tooltip" title="From Web"><i class="fa fa-globe"></i></span>
			  </span>
			  <strong><%= author + " commented"%></strong>
			</div>
		  </div>
		  <div class="col-xs-1 col-xs-height col-top">
			<%= link_to pitch_card_comment_path(@pitch_card, discourse), method: :delete, data: { confirm: 'This will destroy the ' + discourse_type + ' for good. Are you sure?' } do %>
				<i class="fa fa-times delete-pitch"></i>
			<% end %>
		  </div>
	  <% else %>
		  <div class="col-xs-10 col-xs-height no-side-padding col-middle">
			<div class="inside">
			  <span class="text-muted pull-right"  style="margin-top: -4.5px">
				<small>
				  <abbr class="timeago" title="<%= discourse.created_at.to_time.iso8601 %>"></abbr>
				</small>
				<span data-toggle="tooltip" title="From Web"><i class="fa fa-globe"></i></span>
			  </span>
			  <strong><%= author + " commented"%></strong>
			</div>
		  </div>
	  <% end %>
  <% end %>
</div>
<% if is_suggestion %>
	<div class="row-same-height">
	  <div class="col-xs-12 col-xs-height no-side-padding col-middle">
		<div class="inside">
		  <p>
		<span class="text-muted pull-right" style="margin-top: -4.5px;">
	  	  <small><abbr class="timeago" title="<%= discourse.created_at.to_time.iso8601 %>"></abbr></small>
		  <span data-toggle="tooltip" title="From Web"><i class="fa fa-globe"></i></span>
		</span>
			<strong><%= author + " suggested" %></strong>
		  </p>
		</div>
	  </div>
	</div>
<% end %>
<div class="media media-comment pitch-point-message">
  <div class="media-body">
	<hr/>
	<p><%= simple_format(discourse.comment) %></p>
	<hr/>
	<ul class="media-list push nudge-right">
	<%
	   discourse_comments = @comments.select { |c|  c.parent.id = discourse.id  }
	   if discourse_comments.any?
	%>
		<!-- Comments -->
			<% discourse_comments.each do |c|%>
				<%= render partial: 'pitch_cards/partials/discourses/comments/show', locals: {  comment: c } %>
			<% end %>
		<!-- END Comments -->
	<% end %>
	<!-- NEW Descendant Comment-->
	<%= render partial: 'pitch_cards/partials/discourses/comments/new', locals: {  point: point, discourse: discourse } %>
	</ul>
  </div>
</div>
<!-- END Discourse -->
