<% css_point = point[:name].downcase.tr(' ', '-')%>
<% image_point = point[:name].downcase.tr(' ', '_')%>
<% image_selected = 'points/selected/'+image_point+'.png'%>

<div class="col-md-10 col-md-offset-1">
  <div id="<%= css_point %>-discourse-content" class="block block-bordered pitch-card row">
	<div class="row-same-height">
	  <div class="col-xs-2 col-xs-height col-middle">
		<a id="<%= css_point %>-selector">
		  <div class="text-center">
			<%= image_tag_with_at2x image_selected, :class =>  "pitch-point-image-restrained" %>
		  </div>
		</a>
	  </div>
	  <div class="col-xs-8 col-xs-height">
		<div id="<%= css_point %>-discourse-body">
		  <br/>
		  <p><%= discourse.content %></p>
		</div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-8 col-xs-offset-2">
		<p><%= discourse.comment %></p>
	  </div>
	</div>
  </div>
</div>