<%= form_for(@pitch_card, html: { multipart: true}) do |f| %>

	<div class="block block-bordered pitch-card">

	  <div class="form-horizontal form-bordered">

		<div class="form-group">
		  <div class="col-md-12">

			<div class="wrapper">
			  <div id="preview" class="photo-preview">
				<div class="photo-upload"></div>
				<p id="upload-click">Click to Upload Image</p>
			  </div>
			</div>

			<%= f.file_field :pitch_card_image, accept: 'image/jpg,image/jpeg,image/png', id: 'uploadPitchCardImage' %>

			<button class="delete-photo btn btn-primary btn-xs">Delete</button>

			<% if @pitch_card.errors[:pitch_card_image].any? %>
				<br/>
			  <span class="label label-danger">
				<%= @pitch_card.errors.full_messages_for(:pitch_card_image).to_sentence %>
			  </span>
			<% end %>

		  </div>
		</div>

		<% pitch_points_hash.each_with_index  do |point, index| %>
			<% pitch_point_model = @pitch_card.pitch_points[index] %>
			<%= render partial: 'pitch_cards/pitch_point_field', locals: { f: f, point: point, pitch_point_model: pitch_point_model } %>
		<% end %>

		<div class="form-group form-actions">
		  <div class="actions">

			<% identity_scopes = scopes(current_user, :except => ["initiator"]) %>
			<% content_scopes = scopes(current_user, :except => ["contributors", "initiator"]) %>
			<% identity_scope = @pitch_card.identity_scope.present? ? @pitch_card.identity_scope : nil %>
			<% content_scope = @pitch_card.content_scope.present? ? @pitch_card.content_scope : nil %>

			<div class="col-xs-6">
			  <label>show my face to</label>
			  <%= f.select(:i_scope, { :class => 'select-scope'}) do %>
				  <% options_for_select( identity_scopes, identity_scope ).each do |i| %>
					  <%= i %>
				  <% end %>
			  <% end %>

			  <% if @pitch_card.errors[:identity_scope].any? %>
				  <br/>
			  <span class="label label-danger">
				<%= @pitch_card.errors.full_messages_for(:identity_scope).to_sentence %>
			  </span>
			  <% end %>

			</div>
			<div class="col-xs-6">

			  <label>show this card to</label>
			  <%= f.select(:c_scope, { :class => 'select-scope'}) do %>
				  <% options_for_select( content_scopes, content_scope ).each do |c| %>
					  <%= c %>
				  <% end %>
			  <% end %>

			  <% if @pitch_card.errors[:content_scope].any? %>
				  <br/>
			  <span class="label label-danger">
				<%= @pitch_card.errors.full_messages_for(:content_scope).to_sentence %>
			  </span>
			  <% end %>

			</div>

		  </div>
		</div>
	  </div>

	</div>

	<div class="pitch-card-actions text-center">
	  <% if @pitch_card.new_record? %>
		  <%= f.submit "Pitch", class: "btn btn-primary" %>
	  <% else%>
		  <%= f.submit "Update", class: "btn btn-primary" %>

		  <%= link_to(@pitch_card)do %>
			  <%= submit_tag 'Back', type: 'button', class: "btn btn-default" %>
		  <% end %>

	  <% end %>

	</div>
<% end %>

<br/>