<%= form_for(@pitch_card, :html => {:class => 'form-horizontal form-bordered'}) do |f| %>
	<% if @pitch_card.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@pitch_card.errors.count, "error") %> prohibited this pitch_card from being saved:</h2>

		  <ul>
			<% @pitch_card.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		  </ul>
		</div>
	<% end %>



	<% for point in @pitch_points %>
		<% formatted_point = point.downcase.tr(' ', '-')%>
		<div class="form-group">

		  <div class="col-md-3">
			<label class="control-label" for="<%= formatted_point %>-textarea-input"><%= point %></label>
			<select id="<%= formatted_point %>-select" name="<%= formatted_point %>-select" class="select-chosen">
			  <option value="include">Include</option>
			  <option value="invite">Invite</option>
			  <option value="exclude">Exclude</option>
			</select>
		  </div>
		  <div class="col-md-9">
			<textarea id="<%= formatted_point %>-textarea-input" name="<%= formatted_point %>-textarea-input" class="form-control" placeholder="One o'clock, Two o'clock, Three o'clock... Rock"></textarea>
		  </div>

		</div>
	<% end %>

	<div class="form-group">
	  <div class="col-xs-6">

		<label class="switch switch-primary">
		  <input type="checkbox">
		  <span></span>
		</label>
		Include facilitation suggestions

	  </div>
	  <div class="col-xs-6">

		<label class="switch switch-primary">
		  <input type="checkbox">
		  <span></span>
		</label>
		Include voting

	  </div>
	</div>

	<!--<div class="form-group">-->

	<!--<div class="col-md-3">-->
	<!--<label class="control-label" for="value-proposition-textarea-input">Business Opportunity</label>-->
	<!--</div>-->
	<!--<div class="col-md-9">-->
	<!--<textarea id="value-proposition-textarea-input" name="value-proposition-textarea-input" class="form-control" placeholder="One o'clock, Two o'clock, Three o'clock... Rock"></textarea>-->
	<!--</div>-->

	<!--</div>-->
	<!--<div class="form-group">-->

	<!--<div class="col-md-3">-->
	<!--<label class="control-label" for="value-proposition-textarea-input">Resources</label>-->
	<!--</div>-->
	<!--<div class="col-md-9">-->
	<!--<textarea id="value-proposition-textarea-input" name="value-proposition-textarea-input" class="form-control" placeholder="One o'clock, Two o'clock, Three o'clock... Rock"></textarea>-->
	<!--</div>-->

	<!--</div>-->
	<!--<div class="form-group">-->

	<!--<div class="col-md-3">-->
	<!--<label class="control-label" for="value-proposition-textarea-input">Solution</label>-->
	<!--</div>-->
	<!--<div class="col-md-9">-->
	<!--<textarea id="value-proposition-textarea-input" name="value-proposition-textarea-input" class="form-control" placeholder="One o'clock, Two o'clock, Three o'clock... Rock"></textarea>-->
	<!--</div>-->

	<!--</div>-->

	<!--TODO <p>-->
	<!--include option for people to vote on the idea or help facilitate it-->
	<!--</p>-->

	<div class="form-group form-actions">
	  <div class="actions text-center">
		<%= f.submit "Submit", class: "btn btn-primary" %>
	  </div>
	</div>
<% end %>
