<%= form_for(@pitch_card, html: { multipart: true}) do |f| %>
	<% if @pitch_card.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@pitch_card.errors.count, "error") %> prohibited this pitch_card from being saved:</h2>

		  <ul>
			<% @pitch_card.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		  </ul>
		</div>
	<% end %>

	<div class="block block-bordered pitch-card">

	  <div class="form-horizontal form-bordered">

		<div class="form-group">
		  <div class="col-md-12">

			<div class="wrapper">
			  <div id="preview" class="photo-preview">
				<div class="photo-upload"></div>
				<p id="upload-click">Click to Upload</p>
			  </div>
			</div>

			<%= f.file_field :pitch_card_image, accept: 'image/jpg,image/jpeg,image/png', id: 'uploadPitchCardImage' %>

			<button class="delete-photo btn btn-primary btn-xs">Delete</button>

		  </div>
		</div>

		<% @pitch_points.each_with_index  do |point, index| %>
			<% pitch_point_model = @pitch_card.pitch_points[index] %>
			<%= render partial: 'pitch_cards/pitch_point_field', locals: { f: f, point: point, pitch_point_model: pitch_point_model } %>
		<% end %>

		<div class="form-group form-actions">
		  <div class="actions">

			<% identity_scopes = scopes(current_user, :except => ["initiator"]) %>
			<% content_scopes = scopes(current_user, :except => ["contributors", "initiator"]) %>

			<div class="col-xs-6">
				<label>show my face to</label>
			  <%= f.select(:i_scope, { :class => 'select-scope'}) do %>
				  <% identity_scopes.each do |c| -%>
					  <%= content_tag(:option, c[:name], value: c[:id]) %>
				  <% end %>
			  <% end %>

			</div>
			<div class="col-xs-6">

			  <label>show this card to</label>
			  <%= f.select(:pc_scope, { :class => 'select-scope'}) do %>
				  <% content_scopes.each do |c| -%>
					  <%= content_tag(:option, c[:name], value: c[:id]) %>
				  <% end %>
			  <% end %>
			</div>

		  </div>
		</div>
	  </div>

	</div>

	<div class="pitch-card-actions text-center">
	  <%= f.submit "Pitch", class: "btn btn-primary" %>
	</div>
<% end %>

<br/>