<div class="block block-bordered pitch-card">

  <%= form_for(@pitch_card, :html => {:class => 'form-horizontal form-bordered'}) do |f| %>
	  <% if @pitch_card.errors.any? %>
		  <div id="error_explanation">
			<h2><%= pluralize(@pitch_card.errors.count, "error") %> prohibited this pitch_card from being saved:</h2>

			<ul>
			  <% @pitch_card.errors.full_messages.each do |message| %>
				  <li><%= message %></li>
			  <% end %>
			</ul>
		  </div>
	  <% end %>

	  <% @pitch_points.each do |point| %>
		  <% css_point = point[:name].downcase.tr(' ', '-')%>
		  <% image_point = point[:name].downcase.tr(' ', '_')%>
		  <% image_selected = 'points/selected/'+image_point+'.png'%>
		  <% image_deselected = 'points/deselected/'+image_point+'.png'%>

		  <div id="<%= css_point %>" class="form-group">

			<div class="col-md-2">
			  <a id="<%= css_point %>-selector" class="pitch-point-selector" data-toggle="tooltip" data-placement="top" title="<%= point[:tooltip] %>">
				<div class="text-center">
				  <%= image_tag_with_at2x image_selected, :class => "pitch-point-image" %>
				  <%= image_tag_with_at2x image_deselected, :class => "pitch-point-image hidden" %>
				</div>
			  </a>
			</div>
			<div class="col-md-10">
			  <textarea id="<%= css_point %>-textarea-input" name="<%= css_point %>-textarea-input" class="form-horizontal form-control-borderless form-pitch-point" placeholder="<%= point[:placeholder]  %>"></textarea>
			</div>

			<input id="<%= css_point %>-selected" value="selected" hidden/>

		  </div>
	  <% end %>

	  <div class="form-group">
		<div class="col-xs-6">

		  who can see me

		</div>
		<div class="col-xs-6">

		  who can see content

		</div>
	  </div>

	  <div class="form-group form-actions">
		<div class="actions text-center">
		  <%= f.submit "Submit", class: "btn btn-primary" %>
		</div>
	  </div>
  <% end %>

</div>

<%= button_to 'Back', pitch_cards_path, class: "btn btn-alt btn-default" %>

<br/>