
<%= form_for(@pitch_card) do |f| %>
	<% if @pitch_card.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@pitch_card.errors.count, "error") %> prohibited this pitch_card from being saved:</h2>

		  <ul>
			<% @pitch_card.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		  </ul>
		</div>
	<% end %>

	<div class="block block-bordered pitch-card">

	  <div class="form-horizontal form-bordered">

		<% @pitch_points.each_with_index  do |point, index| %>
			<% pitch_point_model = @pitch_card.pitch_points[index] %>
			<%= render partial: 'pitch_cards/pitch_point_field', locals: { f: f, point: point, pitch_point_model: pitch_point_model } %>
		<% end %>

		<div class="form-group form-actions">
		  <div class="actions">

			<div class="col-xs-6">

			  <%= f.select(:initiator_scope) do %>
				  <% scopes.each do |c| -%>
					  <%= content_tag(:option, c[:name], value: c[:scope]) %>
				  <% end %>
			  <% end %>

			   <!--show my face to members-->

			</div>
			<div class="col-xs-6">

			  show this card to public

			</div>

		  </div>
		</div>
	  </div>

	</div>

	<div class="pitch-card-actions text-center">
	  <%= f.submit "Pitch", class: "btn btn-primary" %>
	</div>
<% end %>

<br/>