<% content_for :custom_head do %>
	<!-- page specific head attributes -->
	<%= stylesheet_link_tag 'backend', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :custom_body do %>
	<!-- page specific body attributes -->
	<%= javascript_include_tag 'backend/backend_application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'backend/pages/dashboard', 'data-turbolinks-track' => true %>
<% end %>

<%= render partial: "shared/backend/content_header", locals: {content_title: "Listing Pitch Cards", content_subtitle: "lorem ipsum"} %>

<div class="row">
  <% @pitch_cards.each do |pitch_card| %>
	  <div class="block block-bordered pitch-card col-md-4">
		<div class="row" style="text-align: right;align:top;">
		  <%= link_to pitch_card, method: :delete, data: { confirm: 'This will destroy the pitch card for good. Are you sure?' } do %>
			  <i class="fa fa-times"></i>
		  <% end %>
		</div>
		<div class="row">

		  <div class="col-md-8">

			<% if pitch_card.image.present? %>
				<div class="wrapper" style="margin-bottom:10%">
				  <%= link_to pitch_card do %>
					  <div class="photo-preview" style="background-image:url(<%= pitch_card.image.url %>);border-color:#FFFFFF;background-color:#FFFFFF"></div>
				  <% end %>
				</div>
			<% end %>

		  </div>

		  <div class="col-md-4">
			<div class="row">
			  <% if can? :see_initator, pitch_card %>
				  <h4><%= pitch_card.initiator.first_name %> <%= pitch_card.initiator.last_name %></h4>
			  <% end %>
			</div>

			<div class="row">
			  <%= time_ago_in_words(pitch_card.created_at)%> ago
			</div>

			<%= link_to pitch_card do %>
				view
			<% end %>

		  </div>

		</div>

	  </div>
  <% end %>
</div>

<br>

<%= paginate @pitch_cards %>

