<% content_for :custom_head do %>
	<!-- page specific head attributes -->
	<%= stylesheet_link_tag 'backend', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :custom_body do %>
	<!-- page specific body attributes -->
	<%= javascript_include_tag 'backend/backend_application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'backend/pages/dashboard', 'data-turbolinks-track' => true %>
<% end %>

<%= render partial: "shared/backend/content_header", locals: {content_title: "Listing Pitch Cards", content_subtitle: "lorem ipsum"} %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pitch_cards.each do |pitch_card| %>
      <tr>
        <td><%= link_to 'Show', pitch_card %></td>
        <td><%= link_to 'Edit', edit_pitch_card_path(pitch_card) %></td>
        <td><%= link_to 'Destroy', pitch_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pitch card', new_pitch_card_path %>
