<% content_for :custom_head do %>
	<!-- page specific head attributes -->
	<%= stylesheet_link_tag 'backend', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :custom_body do %>
	<!-- page specific body attributes -->
	<%= javascript_include_tag 'backend/backend_application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'backend/shared/grid', 'data-turbolinks-track' => true %>
<% end %>

<%= render partial: "shared/backend/content_header", locals: {content_title: title, content_subtitle: ""} %>

<% if @pitch_cards.any? %>

	<div id="pitch-cards-loader" class="preloader themed-background">
	  <div class="inner">
		<h3 class="visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>
		<div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
	  </div>
	</div>

	<div id="pitch-cards-content" class="pitch-cards-hidden">
	  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
		<% @pitch_cards.each do |card| %>

			<%= render partial: 'pitch_cards/partials/card/mini_card', locals: { pitch_card: card, should_center: false } %>

		<% end %>
	  </div>

	  <br/>

	  <div class="row">
		<div class="col-md-2 col-md-offset-5 text-center">
		  <%= paginate @pitch_cards %>
		</div>
	  </div>
	</div>

<% else %>

	<!-- empty -->
	<div class="row">
	  <div class="col-md-2 col-md-offset-5">
		<h4 class="push-top-bottom text-center">Nothing here yet...</h4>
	  </div>
	</div>

<% end %>

<br/>

