<% content_for :custom_head do %>
	<!-- page specific head attributes -->
	<%= stylesheet_link_tag 'backend', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :custom_body do %>
	<!-- page specific body attributes -->
	<%= javascript_include_tag 'backend/backend_application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'backend/pages/pitch_cards', 'data-turbolinks-track' => true %>
<% end %>

<%= render partial: "shared/backend/content_header", locals: {content_title: "New Pitch Card", content_subtitle: "lorem ipsum"} %>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

	<div class="block">

		<div class="block-title">

		  <h2>What's the Pitch?</h2>

		</div>

	  <%= render 'form' %>

	</div>

	<%= button_to 'Back', pitch_cards_path, class: "btn btn-alt btn-default" %>

  </div>

</div>
