<% content_for :custom_head do %>
	<!-- page specific head attributes -->
	<%= stylesheet_link_tag 'backend', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :custom_body do %>
	<!-- page specific body attributes -->
	<%= javascript_include_tag 'backend/backend_application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'backend/pages/pitch_cards', 'data-turbolinks-track' => true %>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-1">

	<%= render 'pitch_cards/partials/card/card' %>

	<% if can? :manage, @pitch_card %>
		<div class="pitch-card-actions text-center">
		  <%= button_to 'Edit', edit_pitch_card_path(@pitch_card), :method => :get, class: "btn btn-primary"  %>
		</div>
	<% end %>

	<br/>

  </div>
  <div class="col-md-4 col-md-offset-1">

	comments

  </div>
</div>
