<% content_for :custom_head do %>
	<!-- page specific head attributes -->
	<%= stylesheet_link_tag 'backend', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :custom_body do %>
	<!-- page specific body attributes -->
	<%= javascript_include_tag 'backend/backend_application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'backend/pages/pitch_cards', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'backend/pages/discourse', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'backend/shared/modal', 'data-turbolinks-track' => true %>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-1">

	<%= render 'pitch_cards/partials/card/card' %>

	<% if can? :manage, @pitch_card %>
		<div class="pitch-card-actions text-center">
		  <% if @pitch_card.active? %>
			  <%= link_to 'Mark Completed', complete_pitch_card_path(@pitch_card), :method => :post, class: "btn btn-primary"  %>
		  <% else %>
			  <%= link_to 'Mark Active', activate_pitch_card_path(@pitch_card), :method => :post, class: "btn btn-primary"  %>
		  <% end %>
		</div>
	<% end %>

	<br/>

  </div>
  <div class="col-md-6 col-md-offset-1">

	<%= render 'pitch_cards/partials/discourses/discourses_container' %>

  </div>
</div>

<%= render partial: 'layouts/partials/modal' %>